/* GENERALES */

input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.container {
  width: 80%;
  padding: 0;
}

.center {
  display: grid;
  place-items: center;
}

/* TEXTOS */
.texto1 {
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  color: #8499B3;
}

.texto2 {
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.texto3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

.texto4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.texto5 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;

  color: #000000;
}

.texto-check {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;

  color: #000000;
}

.texto-principle {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 40px;
  color: #000000;
}

.texto-category {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 56px;
  text-align: center;
  color: #000000;
}

.texto-explanation {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #000000;
  padding-top: 0px !important;
}

.texto-affected {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 28px;
  color: #000000;
}

.texto-URI {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;

  color: #428bca;
}

/* CAJAS */
.caja {
  width: 100%;
  background: #f5f5f5;
  border: 1px solid #000000;
  border-radius: 10px;
  padding-bottom: 0 !important; /* this should be fixed */
}

.caja-input {
  height: 150px;
}


.caja-info {
  background: #C9E1FF;
}

.caja-category {
  text-align: center;
}

.caja-check {
  margin-top: -30px !important;
  border-radius: 10px;
  box-sizing: border-box;
}

.caja-principles {
  background: #FFE6D6;
}

.caja-texto {
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
}

.caja-blanca {
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
}

/* SELECTORES */

.selectores {
  height: 63px;
}

.selector {
  border: 1px solid #000000;
  border-top-width: 0px;

  cursor: pointer;
}

.selector:hover {
  background-color: #ddd;
}

.active {
  background-color: #ccc !important;
}

.selector-izq {
  border-left-width: 0px;
  border-radius: 10px 0px 0px 0px;
}

.selector-der {
  border-right-width: 0px;
  border-radius: 0px 10px 0px 0px;
}

/* INPUTS */

.input-1 {
  width: 100%;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px;
}

.input-2 {
  width: 100%;
  height: 50px;
  border: 1px solid #000000; 
  border-radius: 10px;
  padding: 10px;
}

/* BOTONES */

.run {
  background: #8499B3;
  border-radius: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}
